<html>
  <head>
    <title>{% block title %}Toledo Web Design Mailer: {{ title }}{% endblock %}</title>
    <style type="text/css">
      <!-- 
      @import url("/static/style.css");
      -->
    </style>
  </head>
  <body>

  {% include "title.html" %}
  {% include "auth.html" %}
  {% include "message.html" %}

  <table id="LayoutTable">
    <tbody>
    <tr>
      <td id="LeftColumn">
	{% include "menu.html" %}
      </td>
      <td id="MainColumn">
	  {% block body %}
	  {% if title %}
	  <h2>{{ title }}</h2>
	  {% endif %}
	  {{ content }}
	  {% endblock %}
      </td>
    </tr>
    </tbody>
  </table>

  {% include "footer.html" %}

  </body>
</html>
